In [5]:
import pandas as pd

In [6]:
iris = pd.read_csv("dummy_data2.csv")
iris.head()

     age   bmi  hyp.chi
20   NaN   NaN      NaN
35  22.0  45.0     19.0
41  78.0   NaN     63.0
19  87.0   NaN      NaN

In [8]:
iris.isna().sum()

age        1
bmi        3
hyp.chi    2
dtype: int64