In [1]:
import pandas as pd

data1 = [26,14,49,80,77,52]
df=pd.DataFrame(data1)
df

    0
0  26
1  14
2  49
3  80
4  77
5  52

In [3]:
data_dict1 = {"item":["Keyboard", "Mouse", "Monitor"], "qty":[20, 56, 48]}
pd.DataFrame(data_dict1)

       item  qty
0  Keyboard   20
1     Mouse   56
2   Monitor   48